.card-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: -1.5rem;
    margin-left: -0.75rem;
}

.card {
    flex: 1;
    margin: 10px;
    margin-left: -0.1rem;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    max-width: calc(20% - 20px);
    height: 15rem;
}

.menu-item-image {
    max-width: 100%;
    border-radius: 4px;
}

.card-content {
    margin-top: 10px;
}

.card-content1 {
    margin-left: 1rem;
}

.card-cont-more-menu {
    height: 20px;
    margin-left: 1.5rem;
}

.link-card {
    text-decoration: none;
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    height: 1rem;
    width: 2rem;
    margin-top: 9rem;
}

.link-card .card-content h3 {
    margin: 0;
    width: 2rem;
}

.link-card {
    text-decoration: none;
    color: inherit;
}

.link-card .card-content h3 {
    margin: 0;
}

.button-card {
    width: -20px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: rgb(9, 157, 236);
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button-card:hover {
    color: rgb(0, 166, 255);
}

.button-card h3 {
    margin: 0;
    font-size: 1em;
}

/* For tablets and larger devices */
@media only screen and (max-width: 992px) {
    .card-row {
        margin-left: -2rem;

        width: 100%;
    }

    .card {
        max-width: calc(33.33% - 20px);
        margin-left: -2rem;
    }
}

@media only screen and (min-width: 140px) and (max-width: 768px) {
    .card {
        width: calc(190% - 15px);
        margin-left: -2rem;
        margin-bottom: 20px;
    }

    .card-row {
        display: grid;
        grid-template-columns: repeat(2, 3fr);

    }
}

/* For smaller devices like mobile phones */
@media only screen and (max-width: 769px) {
    .card {
        max-width: calc(50% - 20px);
        margin-left: -2rem;
    }

    .card-row {
        margin-left: -2rem;
        flex-wrap: wrap;
    }
}